#field {
    border-left: darkslategray solid 1px;
    border-top: darkslategray solid 1px;
    display: table;
}

.field__row {
    margin: 0;
    padding: 0;
    display: block;
    word-spacing: -1px;
}

.field__cell {
    border-right: darkslategray solid 1px;
    border-bottom: darkslategray solid 1px;
    display: table-cell;
    width: 29px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#stats {
    position: absolute;
    left: 120px;
    top: 90px;
    width: 300px;
    height: 200px;
    background-color: white;
    border: darkslategray solid 1px;
    padding: 1em;
}

#stats dl {
    float: left;
}

#stats dl + dl {
    margin-left: 3em;
}

#stats dl dt {
    float: left;
}

#stats dl dd {
    margin-left: 4em;
}

#stats dl dt a {
    text-decoration: none;
}

#equipment {
    position: absolute;
    left: 120px;
    top: 90px;
    width: 300px;
    height: 200px;
    background-color: white;
    border: darkslategray solid 1px;
    padding: 1em;
}

#equipment dl dt {
    float: left;
}

#equipment dl dd {
    margin-left: 5em;
}

#dialog {
    position: absolute;
    left: 120px;
    top: 90px;
    width: 300px;
    height: 25em;
    background-color: white;
    border: darkslategray solid 1px;
    padding: 1em;
}

#dialog .dialog__text {
    height: 15em;
    overflow-y: auto;
}

.hide {
    display: none;
}